/*Reset*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

.row{
  max-width: 100%;
}

@media screen and (max-width: 410px) {
  body{
    font-size: 12px;
    padding: 0;
    margin: 0;
    width: 100%;  
  }
  
  .row{
    max-width: 100%;
  }

  #lezioni .row>.left, #lezioni .row>.right{
    width: 100%;
  }

  .row img{
    height: 100px;
  }

  #steps .row>.left, #steps .row>.central, #steps .row>.right{
    width: 100%;
  }

  .left, .central,.right, .first, .second, .third{
    padding: 20px;
  }

  .fisrt h3{
    padding: 20px;
  }

  .left h3{
    padding: 10px;
  }
}